body {
    cursor: crosshair;
    background-image: url('images/background.png');
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

h1 {
    font-family: 'Helvetica', sans-serif; /* Set a different font for the header */
    color: #d10707; /* Set header color to a red */
    text-align: center; /* Center the header */
}

.overlay {
    position: fixed;
    top: 260px;  /* Adjust to your desired position */
    left: 50%;  /* Centers horizontally */
    transform: translateX(-50%); /* Centers the image exactly */
    z-index: 9999;  /* Ensures the image is on top of other content */
    width: 1920px;  /* Adjust width */
    height: auto;  /* Maintain aspect ratio */
    pointer-events: none;  /* Prevent the image from blocking interaction with other elements */
}